@import "../settings.scss";

.account-page {
  .account-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .account-right-part {
      margin: 0 auto;

      .informations-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h2 {
          text-transform: uppercase;
          font-size: 3rem;
          font-family: $displayFont-H3;
          word-wrap: break-word;
          max-width: 370px;
          margin-bottom: 50px;
        }

        .form-container {

          .form {
            display: grid;

            @media screen and (max-width: 900px) {
              margin-bottom: 50px;
            }

            @media screen and (max-height: 900px) {
              margin-bottom: 50px;
            }

            @media screen and (max-height: 800px) {
              margin-bottom: 15px;
            }

            .labels {

              #label-phone {
                padding-left: 7px;
                max-width: 37%;
              }

              .inputs {
                width: 466.11px;
                height: 48px;
                border-radius: 8px;
                padding: 0 0 0 15px;
                transform: translateY(-10px);
              }
            }

            .field, .field-password {
              position: relative;
            }

            .password-toggle svg, .password-toggle svg {
              position: absolute;
              top: 20px;
              right: 15px;
              color: #CBD5E1;
              cursor: pointer;
            }

            .button-container {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;
              width: 100%;

              .delete-button,
              .cancel-button,
              input[type="submit"] {
                height: 65px;
                width: 30%;
              }
            }

            .delete-button {
              background-color: transparent;
              border: none;
              color: $dangerColor;
            }

            .cancel-button {
              border-radius: 8px;
              color: var(--mainActionColor);
              background-color: var(--secondaryActionColor);
              border-color: var(--secondaryActionColor);
            }

            input[type="submit"] {
              border-radius: 8px;
              color: var(--mainActionTextColor);
              background-color: var(--mainActionColor);
              border-color: var(--mainActionColor);
              cursor: pointer;
            }
          }
        }

        .mentions {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 350px 125px;

          a {
            margin-bottom: 10px;
            text-decoration: none;
            color: var(--textColor);
          }
        }
      }
    }
  }
}
