@import '../settings.scss';

main {
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;

    .game-part {
      display: flex;
      flex-direction: column;
      background-color: var(--backgroundColorGame);

      img {
        width: 100%;
        height: 33%;
        position: relative;
        z-index: 1;
      }

      h1, h2 {
        position: relative;
        top: -7%;
        left: 5%;
        color: var(--backgroundColor);
        z-index: 2;
      }

      .informations-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 0 10px;

        h3 {
          color: var(--backgroundColor);
        }

        .informations-left-part, .informations-right-part {
          width: 50%;
        }

        .informations-left-part {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .informations, .platform, .numbersPlayers, .releaseDate {
            display: flex;
            flex-direction: row;
            gap: 5px;

            h4 {
              color: var(--backgroundColor);
            }
          }
        }

        .history {
          display: flex;
          margin-bottom: 30px;
          flex-direction: row;
          gap: 5px;

          h4 {
            color: var(--backgroundColor);
          }
        }

        p {
          color: var(--backgroundColor);
        }
      }

      .carousel-container-conversation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .image-carousel {
          overflow-x: hidden !important;
          position: relative;
          width: 100%;
          margin: auto;
          display: flex;
          justify-content: center;

          .image-carousel::-webkit-scrollbar {
            display: none;
          }

          .image-carousel-inner {
            display: flex;
            transition: transform 0.3s ease;
            gap: 5px;
            padding: 0;
            box-sizing: border-box;
            max-width: 100%;
          }

          .carousel-image-container {
            position: relative;
            height: 300px;
            flex: 0 0 75%;
            max-width: 100%;
            border-radius: 4%;
            overflow: hidden;
            margin: 0 5px;
          }

          .carousel-image {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 4%;
          }

          .image-overlay {
            position: absolute;
            bottom: 70px;
            left: 30%;
            width: 40%;
            height: 1%;
            background-color: white;
            border-radius: 4%;
            pointer-events: none;
          }
        }
      }
    }
  }
}
