@import '../settings.scss';

.home-page {
  .games-list {
    margin: 0 50px;

    h2 {
      font-family: 'font-1-bold', sans-serif;
      font-size: 2rem;
      margin-bottom: 50px;
    }

    ul {
      display: grid;
      grid-gap: 25px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      li {
        display: flex;
        cursor: pointer;

        .games {
          height: 300px;
          align-items: flex-start;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;

          img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
          }

          h3 {
            font-size: 1.2rem;
            font-family: 'font-1-bold', sans-serif;
            margin: 10px 0 0 0;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: normal;
            max-height: 3.6em;
          }
        }
      }
    }
  }
}
