@import "../settings.scss";

.home-page {
  .games-list {
    margin: 0 50px;

    h2 {
      font-family: "font-1-bold", sans-serif;
      font-size: 2rem;
      margin-bottom: 50px;
    }

    ul {
      display: grid;
      grid-gap: 25px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      li {
        display: flex;
        cursor: pointer;

        .games {
          height: 358px;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            margin-bottom: 10px;
          }

          h3 {
            font-size: 1.5rem;
            font-family: "font-1-bold", sans-serif;
          }
        }
      }
    }
  }
}
