@import "../settings.scss";

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  .login-right-part {

    .form-container {

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 131px;

        @media screen and (max-width: 900px) {
          margin-bottom: 50px;
        }

        @media screen and (max-height: 900px) {
          margin-bottom: 50px;
        }

        @media screen and (max-height: 800px) {
          margin-bottom: 15px;
        }

        .labels {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;

          @media screen and (max-width: 900px) {
            margin-bottom: 10px;
          }

          @media screen and (max-height: 800px) {
            margin-bottom: 5px;
          }

          .label {
            z-index: 10;
            transform: translate(0px, -10px);
            color: var(--textColor);
          }

          #label-pseudo {
            padding-left: 7px;
            max-width: 13%;
          }

          #label-password {
            padding-left: 7px;
            max-width: 24%;
          }

          .inputs {
            width: 466.11px;
            height: 48px;
            border-radius: 8px;
            padding: 0 0 0 15px;
            transform: translateY(-10px);
          }
        }

        .field, .field-password {
          position: relative;
        }

        .password-toggle svg {
          position: absolute;
          top: 20px;
          right: 15px;
          color: #CBD5E1;
          cursor: pointer;
        }

        input[type="submit"] {
          height: 65px;
          width: 200px;
          border-radius: 8px;
          color: var(--mainActionTextColor);
          background-color: var(--mainActionColor);
          border-color: var(--mainActionColor);
          margin-top: 50px;
          cursor: pointer;

          @media screen and (max-height: 600px) {
            margin-top: 5px;
          }
        }

        #lostPassword {
          color: #9CA3AF;
          cursor: pointer;
          margin-top: 10px;
        }

        #lostPassword:hover {
          color: var(--secondaryColor-Low);
        }
      }
    }

    p {

      #need-to-register {
        color: var(--tertiaryActionColor);
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}