@import '../settings.scss';

.register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  .register-right-part {
    .form-container {
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 131px;

        @media screen and (max-width: 900px) {
          margin-bottom: 50px;
        }

        @media screen and (max-height: 900px) {
          margin-bottom: 50px;
        }

        @media screen and (max-height: 800px) {
          margin-bottom: 15px;
        }

        .labels {
          #label-confirmPassword {
            padding-left: 7px;
            max-width: 49%;
          }

          .inputs {
            width: 466.11px;
            height: 48px;
            border-radius: 8px;
            padding: 0 0 0 15px;
            transform: translateY(-10px);
          }
        }

        .field,
        .field-password {
          position: relative;
        }

        .password-toggle svg,
        .password-toggle svg {
          position: absolute;
          top: 20px;
          right: 15px;
          color: #cbd5e1;
          cursor: pointer;
        }

        .checkbox {
          width: 466.11px;
          color: var(--textColor);

          input[type='checkbox'] {
            margin-top: 20px;
            margin-right: 8px;

            @media screen and (max-height: 800px) {
              margin-top: 5px;
            }
          }
        }

        input[type='submit'] {
          height: 65px;
          width: 194.05px;
          border-radius: 8px;
          color: var(--mainActionTextColor);
          background-color: var(--mainActionColor);
          border-color: var(--mainActionColor);
          margin-top: 50px;
          cursor: pointer;

          @media screen and (max-height: 600px) {
            margin-top: 5px;
          }
        }
      }
    }

    p {
      #need-to-login {
        color: var(--tertiaryActionColor);
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
