.register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  .register-left-part {

    .img-avatars {
    position: absolute;
    }

    #avatar-Bangalore {
      top: 46px;
      left: 603px;
    }

    #avatar-Bloodhunt {
      top: 680px;
      left: 805px;
    }

    #avatar-Lifeline {
      top: 846px;
      left: 131px;
    }

    #avatar-Pathfinder {
      top: 242px;
      left: 210px;
    }

    #big-logo {
      width: 600px;
      height: 600px;
      top: 181px;
      left: 266px;
    }

    #msg-gamebot {
      top: 46px;
      left: 46px;
    }

    #msg-user {
      top: 866px;
      left: 600px;
    }

    .message-user {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .img-gamebot, .message-user {
      margin-right: 15px;
    }

    .msg {
      display: flex;
      align-items: center;
      position: absolute;

      .message-gamebot h4 {
        text-transform: uppercase;
      }

      h4 {
        margin-bottom: 5px;
      }
    }

    #logo-msg {
      width: 60px;
      height: 60px;
    }

  }

  .register-right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
      text-transform: uppercase;
      color: $secondaryColor-Medium;
      font-size: 4rem;
      font-weight: bold;
      line-height: 60px;
      margin-bottom: 90px;
      font-family: $displayFont-H2;
    }

    .form-container {

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 131px;

        .labels {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;

          .label {
            z-index: 10;
            transform: translateX(10px);
            background-color: white;
          }

          #label-pseudo {
            padding-left: 7px;
            max-width: 15%;
          }

          #label-email {
            padding-left: 7px;
            max-width: 13%;
          }

          #label-password {
            padding-left: 7px;
            max-width: 24%;
          }

          #label-confirmPassword {
            padding-left: 7px;
            max-width: 49%;
          }

          .inputs {
            width: 466.11px;
            height: 48px;
            border-radius: 8px;
            padding: 0 0 0 15px;
            transform: translateY(-10px);
          }
        }

        .field, .field-password {
          position: relative;
        }

        .password-toggle svg, .password-toggle svg {
          position: absolute;
          top: 20px;
          right: 15px;
          color: #CBD5E1;
          cursor: pointer;
        }

        .checkbox {
          width: 466.11px;
          color: $secondaryColor-Medium;

          input[type="checkbox"] {
            margin-top: 20px;
            margin-right: 8px;
          }
        }

        input[type="submit"] {
          height: 65px;
          width: 194.05px;
          border-radius: 8px;
          color: $white;
          background-color: $primaryColor-Medium;
          border-color: $primaryColor-Medium;
          margin-top: 50px;
          cursor: pointer;
        }
      }
    }

    p {
      color: #23222D;
    }

    #need-to-login {
      color: $secondaryColor-Medium;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

@media (max-width: 1600px) {
  .patients-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15px;
  }

  @media (max-width: 1100px) {
    .patients-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 15px;
    }

  }

  @media (max-width: 700px) {
    .patients-list {
      display: grid;
      grid-template-columns: 1fr;
    }

  }}