@font-face {
  font-family: 'font-1';
  src: url(assets/fonts/Play-Regular.ttf);
}

@font-face {
  font-family: 'font-1-bold';
  src: url(assets/fonts/Play-Bold.ttf);
}

$primaryColor-Lowest: rgba(255, 247, 237, 1);
$primaryColor-Lower: rgba(255, 237, 213, 1);
$primaryColor-Low: rgba(253, 186, 116, 1);
$primaryColor-Medium: rgba(249, 115, 22, 1);
$primaryColor-Hight: rgba(194, 65, 12, 1);
$primaryColor-Highter: rgba(124, 45, 18, 1);
$primaryColor-Hightest: rgba(67, 20, 7, 1);

$secondaryColor-Lowest: rgba(165, 243, 252, 1);
$secondaryColor-Lower: rgba(103, 232, 249, 1);
$secondaryColor-Low: rgba(8, 145, 178, 1);
$secondaryColor-Medium: rgba(21, 94, 117, 1);
$secondaryColor-Hight: rgba(22, 78, 99, 1);
$secondaryColor-Highter: rgba(8, 51, 68, 1);
$secondaryColor-Hightest: rgba(0, 30, 42, 1);

$dangerColor: rgba(153, 27, 27, 1);

.light-theme {
  --backgroundColor: #{$primaryColor-Lowest};
  --h1Color: #{$secondaryColor-Medium};
  --h2Color: #{$secondaryColor-Highter};
  --h3Color: #{$secondaryColor-Medium};
  --h4Color: #{$secondaryColor-Hightest};
  --textColor: #{$secondaryColor-Hightest};
  --mainActionColor: #{$primaryColor-Medium};
  --mainActionTextColor: #{$primaryColor-Lowest};
  --switchMainActionColor: #{$secondaryColor-Medium};
  --secondaryActionColor: #{$primaryColor-Lower};
  --tertiaryActionColor: #{$secondaryColor-Highter};
  --linkColor: #{$secondaryColor-Medium};
  --backgroundColorGame: #{$secondaryColor-Medium};
}

.dark-theme {
  --backgroundColor: #{$secondaryColor-Hightest};
  --h1Color: #{$primaryColor-Hight};
  --h2Color: #{$primaryColor-Medium};
  --h3Color: #{$primaryColor-Low};
  --h4Color: #{$primaryColor-Lowest};
  --textColor: #{$primaryColor-Lowest};
  --mainActionColor: #{$primaryColor-Medium};
  --mainActionTextColor: #{$primaryColor-Lowest};
  --switchMainActionColor: #{$primaryColor-Medium};
  --secondaryActionColor: #{$primaryColor-Lower};
  --tertiaryActionColor: #{$primaryColor-Low};
  --linkColor: #{$secondaryColor-Low};
  --backgroundColorGame: #{$secondaryColor-Highter};
}

$displayFont-H1: 'font-1-bold', sans-serif;
$displayFont-H2: 'font-1-bold', sans-serif;
$displayFont-H3: 'font-1-bold', sans-serif;
$displayFont-H4: 'font-1-bold', sans-serif;
$displayFont-H5: 'font-1-bold', sans-serif;
$displayFont-H6: 'font-1-bold', sans-serif;

$headingFont-H1: 'font-1-bold', sans-serif;
$headingFont-H2: 'font-1-bold', sans-serif;
$headingFont-H3: 'font-1-bold', sans-serif;
$headingFont-H4: 'font-1-bold', sans-serif;
$headingFont-H5: 'font-1-bold', sans-serif;
$headingFont-H6: 'font-1-bold', sans-serif;

$textFont-Large: 'font-1', sans-serif;
$textFont-Medium: 'font-1', sans-serif;
$textFont-Small: 'font-1', sans-serif;
$textFont-Smaller: 'font-1', sans-serif;
$textFont-Smallest: 'font-1', sans-serif;

$textBoldFont-Large: 'font-1-bold', sans-serif;
$textBoldFont-Medium: 'font-1-bold', sans-serif;
$textBoldFont-Small: 'font-1-bold', sans-serif;
$textBoldFont-Smaller: 'font-1-bold', sans-serif;
$textBoldFont-Smallest: 'font-1-bold', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $textFont-Medium;
}

body {
  background-color: var(--backgroundColor);
  height: 100%;
}

h1 {
  color: var(--h1Color);
}

h2 {
  color: var(--h2Color);
}

h3 {
  color: var(--h3Color);
}

h4 {
  color: var(--h4Color);
}

p {
  color: var(--textColor);
}

a,
a:visited {
  color: var(--linkColor);
}

label {
  color: #94a3b8;
}

input {
  border-color: #cbd5e1;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}
