$primaryColor-Lowest: #FFF7ED;
$primaryColor-Lower: #FFEDD5;
$primaryColor-Low: #FDBA74;
$primaryColor-Medium: #F97316;
$primaryColor-Hight: #C2410C;
$primaryColor-Highter: #7C2D12;
$primaryColor-Hightest: #431407;

$secondaryColor-Lowest: #A5F3FC;
$secondaryColor-Lower: #67E8F9;
$secondaryColor-Low: #0891B2;
$secondaryColor-Medium: #155E75;
$secondaryColor-Hight: #164E63;
$secondaryColor-Highter: #083344;
$secondaryColor-Hightest: #001E2A;

$white: rgb(243, 243, 243);
$black: rgb(12, 12, 12);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}