@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Play-Regular.ttf);
}
@font-face {
  font-family: "font-1-bold";
  src: url(../assets/fonts/Play-Bold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "font-1", sans-serif;
}

label {
  color: #94A3B8;
}

input {
  border-color: #CBD5E1;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

a:visited {
  color: initial;
}

@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Play-Regular.ttf);
}
@font-face {
  font-family: "font-1-bold";
  src: url(../assets/fonts/Play-Bold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "font-1", sans-serif;
}

label {
  color: #94A3B8;
}

input {
  border-color: #CBD5E1;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

a:visited {
  color: initial;
}

.register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
@media screen and (max-width: 900px) {
  .register {
    grid-template-columns: 1fr;
  }
}
.register .register-left-part .img-avatars {
  position: absolute;
}
.register .register-left-part #avatar-Bangalore {
  top: 4%;
  left: 35%;
}
@media screen and (max-width: 1250px) {
  .register .register-left-part #avatar-Bangalore {
    display: none;
  }
}
.register .register-left-part #avatar-Bloodhunt {
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1250px) {
  .register .register-left-part #avatar-Bloodhunt {
    display: none;
  }
}
.register .register-left-part #avatar-Lifeline {
  top: 78%;
  left: 6%;
}
@media screen and (max-width: 1250px) {
  .register .register-left-part #avatar-Lifeline {
    display: none;
  }
}
.register .register-left-part #avatar-Pathfinder {
  top: 22%;
  left: 3%;
}
@media screen and (max-width: 1250px) {
  .register .register-left-part #avatar-Pathfinder {
    display: none;
  }
}
.register .register-left-part #big-logo {
  width: 600px;
  height: 600px;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1250px) {
  .register .register-left-part #big-logo {
    height: 450px;
    width: 345px;
  }
}
@media screen and (max-width: 900px) {
  .register .register-left-part #big-logo {
    position: static;
    width: 300px;
    height: 300px;
    transform: translate(0, 0);
    margin-top: 50px;
  }
}
@media screen and (max-height: 1000px) {
  .register .register-left-part #big-logo {
    width: 400px;
    height: 400px;
  }
}
.register .register-left-part #msg-gamebot {
  top: 46px;
  left: 46px;
}
@media screen and (max-width: 1250px) {
  .register .register-left-part #msg-gamebot {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  .register .register-left-part #msg-gamebot {
    display: none;
  }
}
.register .register-left-part #msg-user {
  top: 80%;
  left: 31%;
}
@media screen and (max-width: 1250px) {
  .register .register-left-part #msg-user {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  .register .register-left-part #msg-user {
    display: none;
  }
}
.register .register-left-part .message-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.register .register-left-part .img-gamebot, .register .register-left-part .message-user {
  margin-right: 15px;
}
.register .register-left-part .msg {
  display: flex;
  align-items: center;
  position: absolute;
}
.register .register-left-part .msg .message-gamebot h4 {
  text-transform: uppercase;
}
.register .register-left-part .msg h4 {
  margin-bottom: 5px;
}
.register .register-left-part #logo-msg {
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 900px) {
  .register .register-left-part {
    display: flex;
    justify-content: center;
  }
}
.register .register-right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register .register-right-part h1 {
  text-transform: uppercase;
  color: #155E75;
  font-size: 4rem;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 90px;
  font-family: "font-1-bold", sans-serif;
}
@media screen and (max-width: 900px) {
  .register .register-right-part h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-height: 800px) {
  .register .register-right-part h1 {
    margin-bottom: 15px;
  }
}
.register .register-right-part .form-container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 131px;
}
@media screen and (max-width: 900px) {
  .register .register-right-part .form-container .form {
    margin-bottom: 50px;
  }
}
@media screen and (max-height: 900px) {
  .register .register-right-part .form-container .form {
    margin-bottom: 50px;
  }
}
@media screen and (max-height: 800px) {
  .register .register-right-part .form-container .form {
    margin-bottom: 15px;
  }
}
.register .register-right-part .form-container .form .labels {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  .register .register-right-part .form-container .form .labels {
    margin-bottom: 10px;
  }
}
@media screen and (max-height: 800px) {
  .register .register-right-part .form-container .form .labels {
    margin-bottom: 5px;
  }
}
.register .register-right-part .form-container .form .labels .label {
  z-index: 10;
  transform: translateX(10px);
  background-color: white;
}
.register .register-right-part .form-container .form .labels #label-pseudo {
  padding-left: 7px;
  max-width: 15%;
}
.register .register-right-part .form-container .form .labels #label-email {
  padding-left: 7px;
  max-width: 13%;
}
.register .register-right-part .form-container .form .labels #label-password {
  padding-left: 7px;
  max-width: 24%;
}
.register .register-right-part .form-container .form .labels #label-confirmPassword {
  padding-left: 7px;
  max-width: 49%;
}
.register .register-right-part .form-container .form .labels .inputs {
  width: 466.11px;
  height: 48px;
  border-radius: 8px;
  padding: 0 0 0 15px;
  transform: translateY(-10px);
}
.register .register-right-part .form-container .form .field, .register .register-right-part .form-container .form .field-password {
  position: relative;
}
.register .register-right-part .form-container .form .password-toggle svg, .register .register-right-part .form-container .form .password-toggle svg {
  position: absolute;
  top: 20px;
  right: 15px;
  color: #CBD5E1;
  cursor: pointer;
}
.register .register-right-part .form-container .form .checkbox {
  width: 466.11px;
  color: #155E75;
}
.register .register-right-part .form-container .form .checkbox input[type=checkbox] {
  margin-top: 20px;
  margin-right: 8px;
}
@media screen and (max-height: 800px) {
  .register .register-right-part .form-container .form .checkbox input[type=checkbox] {
    margin-top: 5px;
  }
}
.register .register-right-part .form-container .form input[type=submit] {
  height: 65px;
  width: 194.05px;
  border-radius: 8px;
  color: rgb(243, 243, 243);
  background-color: #F97316;
  border-color: #F97316;
  margin-top: 50px;
  cursor: pointer;
}
@media screen and (max-height: 600px) {
  .register .register-right-part .form-container .form input[type=submit] {
    margin-top: 5px;
  }
}
.register .register-right-part p {
  color: #23222D;
}
.register .register-right-part p #need-to-login {
  color: #155E75;
  font-weight: bold;
  text-decoration: none;
}

@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Play-Regular.ttf);
}
@font-face {
  font-family: "font-1-bold";
  src: url(../assets/fonts/Play-Bold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "font-1", sans-serif;
}

label {
  color: #94A3B8;
}

input {
  border-color: #CBD5E1;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

a:visited {
  color: initial;
}

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
@media screen and (max-width: 900px) {
  .login {
    grid-template-columns: 1fr;
  }
}
.login .login-left-part .img-avatars {
  position: absolute;
}
.login .login-left-part #avatar-Bangalore {
  top: 4%;
  left: 35%;
}
@media screen and (max-width: 1250px) {
  .login .login-left-part #avatar-Bangalore {
    display: none;
  }
}
.login .login-left-part #avatar-Bloodhunt {
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1250px) {
  .login .login-left-part #avatar-Bloodhunt {
    display: none;
  }
}
.login .login-left-part #avatar-Lifeline {
  top: 78%;
  left: 6%;
}
@media screen and (max-width: 1250px) {
  .login .login-left-part #avatar-Lifeline {
    display: none;
  }
}
.login .login-left-part #avatar-Pathfinder {
  top: 22%;
  left: 3%;
}
@media screen and (max-width: 1250px) {
  .login .login-left-part #avatar-Pathfinder {
    display: none;
  }
}
.login .login-left-part #big-logo {
  width: 600px;
  height: 600px;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1250px) {
  .login .login-left-part #big-logo {
    height: 450px;
    width: 345px;
  }
}
@media screen and (max-width: 900px) {
  .login .login-left-part #big-logo {
    position: static;
    width: 300px;
    height: 300px;
    transform: translate(0, 0);
    margin-top: 50px;
  }
}
@media screen and (max-height: 1000px) {
  .login .login-left-part #big-logo {
    width: 400px;
    height: 400px;
  }
}
.login .login-left-part #msg-gamebot {
  top: 46px;
  left: 46px;
}
@media screen and (max-width: 1250px) {
  .login .login-left-part #msg-gamebot {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  .login .login-left-part #msg-gamebot {
    display: none;
  }
}
.login .login-left-part #msg-user {
  top: 80%;
  left: 31%;
}
@media screen and (max-width: 1250px) {
  .login .login-left-part #msg-user {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  .login .login-left-part #msg-user {
    display: none;
  }
}
.login .login-left-part .message-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.login .login-left-part .img-gamebot, .login .login-left-part .message-user {
  margin-right: 15px;
}
.login .login-left-part .msg {
  display: flex;
  align-items: center;
  position: absolute;
}
.login .login-left-part .msg .message-gamebot h4 {
  text-transform: uppercase;
}
.login .login-left-part .msg h4 {
  margin-bottom: 5px;
}
.login .login-left-part #logo-msg {
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 900px) {
  .login .login-left-part {
    display: flex;
    justify-content: center;
  }
}
.login .login-right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .login-right-part h1 {
  text-transform: uppercase;
  color: #155E75;
  font-size: 4rem;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 90px;
  font-family: "font-1-bold", sans-serif;
}
@media screen and (max-width: 900px) {
  .login .login-right-part h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-height: 800px) {
  .login .login-right-part h1 {
    margin-bottom: 15px;
  }
}
.login .login-right-part .form-container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 131px;
}
@media screen and (max-width: 900px) {
  .login .login-right-part .form-container .form {
    margin-bottom: 50px;
  }
}
@media screen and (max-height: 900px) {
  .login .login-right-part .form-container .form {
    margin-bottom: 50px;
  }
}
@media screen and (max-height: 800px) {
  .login .login-right-part .form-container .form {
    margin-bottom: 15px;
  }
}
.login .login-right-part .form-container .form .labels {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  .login .login-right-part .form-container .form .labels {
    margin-bottom: 10px;
  }
}
@media screen and (max-height: 800px) {
  .login .login-right-part .form-container .form .labels {
    margin-bottom: 5px;
  }
}
.login .login-right-part .form-container .form .labels .label {
  z-index: 10;
  transform: translateX(10px);
  background-color: white;
}
.login .login-right-part .form-container .form .labels #label-email {
  padding-left: 7px;
  max-width: 13%;
}
.login .login-right-part .form-container .form .labels #label-password {
  padding-left: 7px;
  max-width: 24%;
}
.login .login-right-part .form-container .form .labels .inputs {
  width: 466.11px;
  height: 48px;
  border-radius: 8px;
  padding: 0 0 0 15px;
  transform: translateY(-10px);
}
.login .login-right-part .form-container .form .field, .login .login-right-part .form-container .form .field-password {
  position: relative;
}
.login .login-right-part .form-container .form .password-toggle svg {
  position: absolute;
  top: 20px;
  right: 15px;
  color: #CBD5E1;
  cursor: pointer;
}
.login .login-right-part .form-container .form input[type=submit] {
  height: 65px;
  width: 194.05px;
  border-radius: 8px;
  color: rgb(243, 243, 243);
  background-color: #F97316;
  border-color: #F97316;
  margin-top: 50px;
  cursor: pointer;
}
@media screen and (max-height: 600px) {
  .login .login-right-part .form-container .form input[type=submit] {
    margin-top: 5px;
  }
}
.login .login-right-part .form-container .form #lostPassword {
  color: #9CA3AF;
  cursor: pointer;
  margin-top: 10px;
}
.login .login-right-part .form-container .form #lostPassword:hover {
  color: #0891B2;
}
.login .login-right-part p {
  color: #23222D;
}
.login .login-right-part p #need-to-register {
  color: #155E75;
  font-weight: bold;
  text-decoration: none;
}

@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Play-Regular.ttf);
}
@font-face {
  font-family: "font-1-bold";
  src: url(../assets/fonts/Play-Bold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "font-1", sans-serif;
}

label {
  color: #94A3B8;
}

input {
  border-color: #CBD5E1;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

a:visited {
  color: initial;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 71px 48px;
}
@media screen and (max-width: 750px) {
  header {
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  header .header-left-part {
    display: none;
  }
}
header .header-left-part a {
  display: flex;
  align-items: center;
}
header .header-left-part a img {
  height: 100px;
  width: 100px;
  margin-right: 35px;
}
header .header-left-part a h1 {
  text-transform: uppercase;
  color: #155E75;
  font-family: "font-1-bold", sans-serif;
  font-size: 3.75rem;
}
@media screen and (max-width: 1080px) {
  header .header-left-part a h1 {
    font-size: 2rem;
  }
}
header .header-right-part {
  display: flex;
  align-items: center;
}
header .header-right-part form {
  margin-right: 35px;
}
header .header-right-part form input {
  width: 400px;
  height: 50px;
  border-radius: 8px;
  padding: 15px;
}
@media screen and (max-width: 1080px) {
  header .header-right-part form input {
    width: 200px;
  }
}
header .header-right-part .my-account {
  border: none;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}
header .my-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  border-radius: 8px;
  padding-left: 10px;
  width: 220px;
  height: 100px;
  top: 180px;
  right: 50px;
  box-shadow: 0 0 5px 0.5px black;
}
header .my-account-container .go-to-my-account,
header .my-account-container .disconnect {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
header .my-account-container .go-to-my-account img,
header .my-account-container .disconnect img {
  width: 30px;
  height: 30px;
}
header .my-account-container .go-to-my-account p,
header .my-account-container .disconnect p {
  margin-left: 15px;
  font-size: 1rem;
  color: #475569;
}
header .my-account-container .disconnect {
  margin-bottom: 0;
}

/*# sourceMappingURL=index.css.map */
